<nav>
    <ul>
        <li>
            @Html.ActionLink("Financial Information", "Information", "Financial")
        </li>
        <li>
            @Html.ActionLink("Financial Projection", "Projection", "Financial")
        </li>
        <li>
            @Html.ActionLink("Accounting Information", "Information", "Accounting")
        </li>
        <li>
            @Html.ActionLink("Sensitivity Analysis", "Index", "Sensitivity")
        </li>
        <li>
            @Html.ActionLink("Credit Analysis", "Index", "CreditAnalysis")
        </li>
        <li>
            @Html.ActionLink("Industry Comparison", "Index", "IndustryComparison")
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>
