<nav class="@ViewBag.Active">
    <ul>
        <li class="financialInfo">
            @Html.ActionLink("Financial Information", "Information", "Financial")
        </li>
        <li class="financialProjection">
            @Html.ActionLink("Financial Projection", "Projection", "Financial")
        </li>
        <li class="AccountingInfo">
            @Html.ActionLink("Accounting Information", "Information", "Accounting")
        </li>
        <li class="sensitivity">
            @Html.ActionLink("Sensitivity Analysis", "Index", "Sensitivity")
        </li>
        <li class="CreditAnalysis">
            @Html.ActionLink("Credit Analysis", "Index", "CreditAnalysis")
        </li>
        <li class="IndustryComparison">
            @Html.ActionLink("Industry Comparison", "Index", "IndustryComparison")
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>
