<nav class="@ViewBag.Active">
    @*<ul>
        <li class="financialInfo">
            @Html.ActionLink("Financial Information", "Information", "Financial")
        </li>
        <li class="financialProjection">
            @Html.ActionLink("Financial Projection", "Projection", "Financial")
        </li>
        <li class="accountingInfo">
            @Html.ActionLink("Accounting Information", "Information", "Accounting")
        </li>
        <li class="sensitivity">
            @Html.ActionLink("Sensitivity Analysis", "Index", "Sensitivity")
        </li>
        <li class="creditAnalysis">
            @Html.ActionLink("Credit Analysis", "Index", "CreditAnalysis")
        </li>
        <li class="industryComparison">
            @Html.ActionLink("Industry Comparison", "Index", "IndustryComparison")
        </li>
    </ul>*@

    @*New Menus*@
    <ul class="dynamic">
        <li class="fsStandAlone">
            @Html.ActionLink("Financial Statements Stand Alone", "StandAlone", "FinancialStatements")
        </li>
        <li class="fsCombination">
            @Html.ActionLink("Financial Statements Combination", "Combination", "FinancialStatements")
        </li>
        <li class="scfDirectMethod">
            @Html.ActionLink("Statements of Cash Flows Direct Method", "DirectMethod", "CashFlows")
        </li>
        <li class="financialRatios">
            @Html.ActionLink("Financial Ratios", "Ratios", "Financial")
        </li>
        <li class="sensitivityScenarioAnalytics">
            @Html.ActionLink("Sensitivity And Scenario Analytics", "SensitivityAndScenarioAnalytics", "Sensitivity")
        </li>
        <li class="creditAnalysis">
            @Html.ActionLink("Credit Analysis", "Index", "CreditAnalysis")
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>
