@model BankDKI.Models.CreditRatingHistoryModel
@{
    ViewBag.Title = "Bank DKI - Sensitivity And Scenario Analytics";
    ViewBag.Active = "sensitivityScenarioAnalytics";
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")
        @Html.Partial("~/Views/CreditAnalysis/_CreditAnalysis.cshtml")
        @Html.Partial("~/Views/CreditAnalysis/_CreditAnalysisReport.cshtml", Model)
    </div>
}

@section scripts{
    @Scripts.Render("~/js/creditAnalysis")
}
