@using System.Linq
@using ModelBinderAttribute = System.Web.Http.ModelBinding.ModelBinderAttribute
@model BankDKI.Models.FinancialStatementStandAloneModel
@{
    ViewBag.Title = "Bank DKI - Financial Statements Stand Alone";
    ViewBag.Active = "fsStandAlone";
    var currAssetsDescIds = Model.CurrentAssets.Select(x => x.Id).Distinct().ToList();
    var fixedAssetIds = Model.FixedAssets.Select(x => x.Id).Distinct().ToList();
    var nonCurrAssetIds = Model.NonCurrentAssets.Select(x => x.Id).Distinct().ToList();
    var curLiabilitiesIds = Model.CurrentLiabilities.Select(x => x.Id).Distinct().ToList();
    var nonCurLiabilitiesIds = Model.NonCurrentLiabilities.Select(x => x.Id).Distinct().ToList();
    var equitiesIds = Model.Equities.Select(x => x.Id).Distinct().ToList();
    var grossProfitIds = Model.GrossProfit.Select(x => x.Id).Distinct().ToList();
    var netOperatingProfitIds = Model.NetOperatingProfit.Select(x => x.Id).Distinct().ToList();
    var profitLossIncomeTaxIds = Model.ProfitBeforeIncomeTax.Select(x => x.Id).Distinct().ToList();
    var incomeForPeriodIds = Model.IncomeTaxForPeriod.Select(x => x.Id).Distinct().ToList();
    var totalComprehensiveIncomeIds = Model.TotalComprehensiveIncome.Select(x => x.Id).Distinct().ToList();
    var equityIncreaseIds = Model.EquityIncrease.Select(x => x.Id).Distinct().ToList();
}

@section header
{
    @Html.Partial("_Header")
}


@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")

        <h2>XYZ (BASE CASE SCENARIO - SALES GROWTH (%)</h2>
        <p>All figures are in IDR Ribuan Except Stated Otherwise </p>
        <!-- Accordion -->
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>STATEMENTS OF FINANCIAL POSITION ASSETS (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="table alternate">
                @foreach (var curAssetsId in currAssetsDescIds)
                {
                    var assetsId = curAssetsId;
                    var desc = Model.CurrentAssets.First(x => x.Id == assetsId).Description;
                    <div>
                        <div class="labels">@desc</div>

                        @{
                            var auditedAmt = Model.CurrentAssets.Where(x => x.Id == assetsId);
                        }
                        @foreach (var amt in auditedAmt)
                        {
                            <div class="audited">@amt.Amount</div>
                        }
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                    </div>
                    if (assetsId == 3 || assetsId == 6)
                    {
                        <div class="spacer">
                            <div class="labels">&nbsp;</div>
                        </div>
                    }
                }
                <div class="total">
                    <div class="labels">TOTAL CURRENT ASSETS</div>
                    <div class="audited">@Model.CurrentAssets.Where(x=>x.YearAuditedProjected.Year==2013).Sum(x=>x.Amount)</div>
                    <div class="audited">@Model.CurrentAssets.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.CurrentAssets.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                <div class="spacer">
                    <div class="labels">&nbsp;</div>
                </div>

                @foreach (var fixedAssetId in fixedAssetIds)
                {
                    var assetsId = fixedAssetId;
                    var desc = Model.FixedAssets.First(x => x.Id == assetsId).Description;
                    <div>
                        <div class="labels">@desc</div>

                        @{
                            var auditedAmt = Model.FixedAssets.Where(x => x.Id == assetsId);
                        }
                        @foreach (var amt in auditedAmt)
                        {
                            <div class="audited">@amt.Amount</div>
                        }
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                    </div>
                }
                <div class="total">
                    <div class="labels">TOTAL FIXED ASSETS</div>
                    <div class="audited">@Model.FixedAssets.Where(x=>x.YearAuditedProjected.Year==2013).Sum(x=>x.Amount)</div>
                    <div class="audited">@Model.FixedAssets.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.FixedAssets.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                    <div class="spacer">
                        <div class="labels">&nbsp;</div>
                    </div>
                    @foreach (var nonCurAssetId in nonCurrAssetIds)
                    {
                        var assetsId = nonCurAssetId;
                        var desc = Model.NonCurrentAssets.First(x => x.Id == assetsId).Description;
                        <div>
                            <div class="labels">@desc</div>

                            @{
                                var auditedAmt = Model.NonCurrentAssets.Where(x => x.Id == assetsId);
                            }
                            @foreach (var amt in auditedAmt)
                            {
                                <div class="audited">@amt.Amount</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                    }
                <div class="total">
                    <div class="labels">TOTAL NON CURRENT ASSETS</div>
                    <div class="audited">@Model.NonCurrentAssets.Where(x=>x.YearAuditedProjected.Year==2013).Sum(x=>x.Amount)</div>
                    <div class="audited">@Model.NonCurrentAssets.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.NonCurrentAssets.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                <div class="total">
                    <div class="labels">TOTAL ASSETS</div>
                    @foreach (var amt in Model.TotalAssets)
                    {
                        <div class="audited">@amt</div>
                    }
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <div class="panel-title">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>STATEMENTS OF FINANCIAL POSITION LIABILITIES & EQUITY (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="table alternate">
                @foreach (var curLiabilitiesId in curLiabilitiesIds)
                {
                    var assetsId = curLiabilitiesId;
                    var desc = Model.CurrentLiabilities.First(x => x.Id == assetsId).Description;
                    <div>
                        <div class="labels">@desc</div>

                        @{
                                var auditedAmt = Model.CurrentLiabilities.Where(x => x.Id == assetsId);
                        }
                        @foreach (var amt in auditedAmt)
                        {
                            <div class="audited">@amt.Amount</div>
                        }
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                    </div>
                }
                    <div class="total">
                        <div class="labels">TOTAL CURRENT LIABILITIES</div>
                        <div class="audited">@Model.CurrentLiabilities.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                        <div class="audited">@Model.CurrentLiabilities.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                        <div class="audited">@Model.CurrentLiabilities.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        </div>
                        @foreach (var nonCurLiabilitiesId in nonCurLiabilitiesIds)
                        {
                            var assetsId = nonCurLiabilitiesId;
                            var desc = Model.NonCurrentLiabilities.First(x => x.Id == assetsId).Description;
                            <div>
                                <div class="labels">@desc</div>

                                @{
                                    var auditedAmt = Model.NonCurrentLiabilities.Where(x => x.Id == assetsId);
                                }
                                @foreach (var amt in auditedAmt)
                                {
                                    <div class="audited">@amt.Amount</div>
                                }
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                            </div>
                        }
                        <div class="total">
                            <div class="labels">TOTAL NON-CURRENT LIABILITIES</div>
                            <div class="audited">@Model.NonCurrentLiabilities.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                            <div class="audited">@Model.NonCurrentLiabilities.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                            <div class="audited">@Model.NonCurrentLiabilities.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                        <div class="total">
                            <div class="labels">TOTAL LIABILITIES</div>
                            @foreach (var amt in Model.TotalLiabilities)
                            {
                                <div class="audited">@amt</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>

                        @foreach (var equitiesId in equitiesIds)
                        {
                            var assetsId = equitiesId;
                            var desc = Model.Equities.First(x => x.Id == assetsId).Description;
                            <div>
                                <div class="labels">@desc</div>

                                @{
                                    var auditedAmt = Model.Equities.Where(x => x.Id == assetsId);
                                }
                                @foreach (var amt in auditedAmt)
                                {
                                    <div class="audited">@amt.Amount</div>
                                }
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                                <div class="proj">0</div>
                            </div>
                            if (assetsId == 48)
                            {
                                <div class="spacer">
                                    <div class="labels">&nbsp;</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="panel-title">
                        <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="table">
                                <div class="head">
                                    <div class="labels">
                                        <div>STATEMENTS OF COMPREHENSIVE INCOME (in IDR Ribuan)</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-13</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-14</div>
                                    </div>
                                    <div class="audited">
                                        <div>AUDITED</div>
                                        <div>31-Dec-15</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-16</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-17</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-18</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-19</div>
                                    </div>
                                    <div class="proj">
                                        <div>PROJ</div>
                                        <div>31-Dec-20</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="table alternate">
                @foreach (var grossProfitId in grossProfitIds)
                {
                    var assetsId = grossProfitId;
                    var desc = Model.GrossProfit.First(x => x.Id == assetsId).Description;
                    <div>
                        <div class="labels">@desc</div>

                        @{
                    var auditedAmt = Model.GrossProfit.Where(x => x.Id == assetsId);
                        }
                        @foreach (var amt in auditedAmt)
                        {
                            <div class="audited">@amt.Amount</div>
                        }
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                        <div class="proj">0</div>
                    </div>
                }
                <div class="total">
                    <div class="labels">GROSS PROFIT</div>
                    <div class="audited">@Model.GrossProfit.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.GrossProfit.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.GrossProfit.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                    @foreach (var netProfitId in netOperatingProfitIds)
                    {
                        var assetsId = netProfitId;
                        var desc = Model.NetOperatingProfit.First(x => x.Id == assetsId).Description;
                        <div>
                            <div class="labels">@desc</div>

                            @{
                        var auditedAmt = Model.NetOperatingProfit.Where(x => x.Id == assetsId);
                            }
                            @foreach (var amt in auditedAmt)
                            {
                                <div class="audited">@amt.Amount</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                    }
                <div class="total">
                    <div class="labels">NET OPERATING PROFIT (NOP)</div>
                    <div class="audited">@Model.NetOperatingProfit.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.NetOperatingProfit.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.NetOperatingProfit.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                    @foreach (var profitLossId in profitLossIncomeTaxIds)
                    {
                        var assetsId = profitLossId;
                        var desc = Model.ProfitBeforeIncomeTax.First(x => x.Id == assetsId).Description;
                        <div>
                            <div class="labels">@desc</div>

                            @{
                                var auditedAmt = Model.ProfitBeforeIncomeTax.Where(x => x.Id == assetsId);
                            }
                            @foreach (var amt in auditedAmt)
                            {
                                <div class="audited">@amt.Amount</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                    }
                <div class="total">
                    <div class="labels">PROFIT (LOSS) BEFORE INCOME TAX</div>
                    <div class="audited">@Model.ProfitBeforeIncomeTax.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.ProfitBeforeIncomeTax.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.ProfitBeforeIncomeTax.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                    @foreach (var incomeForPeriodId in incomeForPeriodIds)
                    {
                        var assetsId = incomeForPeriodId;
                        var desc = Model.IncomeTaxForPeriod.First(x => x.Id == assetsId).Description;
                        <div>
                            <div class="labels">@desc</div>

                            @{
                                var auditedAmt = Model.IncomeTaxForPeriod.Where(x => x.Id == assetsId);
                            }
                            @foreach (var amt in auditedAmt)
                            {
                                <div class="audited">@amt.Amount</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                    }
                <div class="total">
                    <div class="labels">INCOME FOR THE PERIOD</div>
                    <div class="audited">@Model.IncomeTaxForPeriod.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.IncomeTaxForPeriod.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.IncomeTaxForPeriod.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                    @foreach (var totalComprehensiveId in totalComprehensiveIncomeIds)
                    {
                        var assetsId = totalComprehensiveId;
                        var desc = Model.TotalComprehensiveIncome.First(x => x.Id == assetsId).Description;
                        <div>
                            <div class="labels">@desc</div>

                            @{
                                var auditedAmt = Model.TotalComprehensiveIncome.Where(x => x.Id == assetsId);
                            }
                            @foreach (var amt in auditedAmt)
                            {
                                <div class="audited">@amt.Amount</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                    }
                <div class="total">
                    <div class="labels">TOTAL COMPREHENSIVE INCOME (LOSS) FOR THE PERIOD</div>
                    <div class="audited">@Model.TotalComprehensiveIncome.Where(x=>x.YearAuditedProjected.Year==2013).Sum(x=>x.Amount)</div>
                    <div class="audited">@Model.TotalComprehensiveIncome.Where(x => x.YearAuditedProjected.Year == 2014).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.TotalComprehensiveIncome.Where(x => x.YearAuditedProjected.Year == 2015).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                <div>
                    <div class="labels"><span class="labelText">INCOME FOR THE PERIOD ATTRIBUTABLE TO:</span></div>
                    <div class="audited"></div>
                    <div class="audited"></div>
                    <div class="audited"></div>
                    <div class="proj"></div>
                    <div class="proj"></div>
                    <div class="proj"></div>
                    <div class="proj"></div>
                    <div class="proj"></div>
                </div>
                    @foreach (var equitiesId in equityIncreaseIds)
                    {
                        var assetsId = equitiesId;
                        var desc = Model.EquityIncrease.First(x => x.Id == assetsId).Description;
                        <div>
                            <div class="labels">@desc</div>

                            @{
                                var auditedAmt = Model.EquityIncrease.Where(x => x.Id == assetsId);
                            }
                            @foreach (var amt in auditedAmt)
                            {
                                <div class="audited">@amt.Amount</div>
                            }
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                            <div class="proj">0</div>
                        </div>
                    }
                <div class="total">
                    <div class="labels">EQUITY INCREASE</div>
                    <div class="audited">@Model.EquityIncrease.Where(x=>x.YearAuditedProjected.Year==2013).Sum(x=>x.Amount)</div>
                    <div class="audited">@Model.EquityIncrease.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                    <div class="audited">@Model.EquityIncrease.Where(x => x.YearAuditedProjected.Year == 2013).Sum(x => x.Amount)</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                    <div class="proj">0</div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END: Accordion -->
        <select>
            <option value="value">31-DEC13</option>
            <option value="value">31-DEC14</option>
            <option value="value">31-DEC15</option>
            <option value="value">31-DEC16</option>
            <option value="value">31-DEC17</option>
        </select>
    </div>
}
