@model BankDKI.Models.CreditRatingHistoryModel
@{
    ViewBag.Title = "Bank DKI - Credit Analysis";
    ViewBag.Active = "creditAnalysis";
}

@section header
{
    @Html.Partial("_Header")
}

@section content
{
    <div class="content-wrapper">
        @Html.Partial("_Menus")      
        @Html.Partial("_CreditAnalysis")
        @Html.Partial("_CreditAnalysisReport",Model)
    </div>
}

@section scripts{
    @Scripts.Render("~/js/creditAnalysis")
}
